:root {
  --primary-text-color: #1d1d1b;
  --secondary-text-color: #393939;
  --background-color: aliceblue;
  --primary-border-color: #001834;
  --brand-color: #ce0505;
  --button-background: #58777c;
  --text-color: #eaeaea;
  --container-2-background: #1b889c;
  --container-3-background: linear-gradient(
    180deg,
    #090715 31.5%,
    #a7a79f 100%
  );
  --white: #fff;
  --section-3-background: linear-gradient(
    188deg,
    rgba(2, 1, 7, 0.95) 29.55%,
    rgba(2, 29, 48, 0.95) 81.52%
  );
  --footer-background: linear-gradient(
    180deg,
    rgba(8, 32, 48, 0.97) 0%,
    #092f36 100%
  );
  --footer-icon-background: rgba(121, 125, 110, 0.6);
  --footer-icon-shadow-color: rgba(0, 0, 0, 0.25);
}

*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
  font-size: 16px;
  background-color: var(--background-color);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.menu-list {
  padding: 80px 30px 0px 40px;
  background-image: url('../images/bacground1.jpg');
  background-size: cover;
  background-position: center;
}

.list.adress-menu {
  display: flex;
  align-items: center;
  padding-left: 200px;
  gap: 30px;
}
.address-link {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: var(--footer-icon-background);
  box-shadow: -6px 8px 4px 0px var(--footer-icon-shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*------------ HEADER --------------*/
.container-header {
  height: 1900px;
  position: relative;
}
.container-list {
  display: flex;
  align-items: center;
}
.menu-link-logo {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-right: 124px;
}
.ducky-logo {
  width: 110px;
  height: 110px;
}
.menu-link {
  display: flex;
  gap: 30px;
}
.button,
.button-list {
  width: 223px;
  height: 65px;
  border-radius: 50px;
  background: var(--button-background);
  box-shadow: -6px 8px 4px 0px var(--footer-icon-shadow-color);
  border: none;
  color: var(--text-color);
  text-shadow: 0px 4px 4px var(--footer-icon-shadow-color);
  font-family: 'Berlin Sans FB Demi';
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
}
.button-list {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 20px;
}
h1 {
  color: var(--brand-color);
  font-family: 'Bungee Shade';
  font-size: 118px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
}
.container-2-bc {
  width: 720px;
  height: 160px;
  background: var(--container-2-background);
  box-shadow: -10px 10px 4px 0px var(--brand-color);
  text-align: center;
  margin: auto;
  margin-bottom: 98px;
}
.container-2-title {
  color: var(--text-color);
  font-family: 'Berlin Sans FB Demi';
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  padding: 30px 54px;
}
.container-2-text {
  width: 782px;
  height: 700px;
  background: #ecc12a;
  box-shadow: -10px 10px 4px 0px #e56e3b;
  margin-left: auto;
  margin-right: 40px;
}
.text-2 {
  color: #1d1d1b;
  text-align: center;
  text-shadow: 0px 4px 4px var(--footer-icon-shadow-color);
  font-family: 'Akaya Kanadaka';
  font-size: 40px;
  font-weight: 400;
  line-height: 119.516%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin-left: 31px;
  margin-right: 51px;
}
@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.ducky-1 {
  animation: jumpAnimation 0.5s ease infinite;
  width: 500px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ---MAIN------ */
.section-1-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  max-width: 100%;
  height: 600px;
  padding: 20px;
}

.section-1 {
  height: 800px;
  opacity: 0.9;
  overflow-x: auto;
  background: var(--container-3-background);
}

.section-1-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h3 {
  color: var(--secondary-text-color);
  font-family: 'Berlin Sans FB Demi';
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.container-prg {
  margin-top: 40px;
  width: 530px;
  height: 400px;
  background: #ffed00;
  box-shadow: -10px 10px 4px 0px rgba(29, 29, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
p {
  color: #373737;
  font-family: 'Berlin Sans FB Demi';
  font-size: 20px;
  font-weight: 700;
  line-height: 171.429%;
  letter-spacing: 1.4px;
}

.container-3-bc {
  width: 500px;
  height: 120px;
  background: #ffed00;
  box-shadow: -10px 10px 4px 0px rgba(29, 29, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 1700px;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-position: center;
}
.section-2-title {
  color: var(--white);
  text-shadow: 0px 4px 4px var(--primary-text-color);
  font-family: 'Berlin Sans FB Demi';
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  text-align: center;
  text-shadow: 0px 0px 10px #00ff00, 0px 0px 10px #00ff00;
  padding-top: 80px;
}
.section-2-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.section-2-prg {
  color: var(--white);
  text-shadow: 0px 0px 10px #e94e1b, 0px 0px 10px #e94e1b;
  font-family: 'Berlin Sans FB Demi';
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
  width: 200px;
}
.grafik {
  margin: 0 400px;
  transition: transform 0.7s ease;
}

.grafik:hover {
  transform: scale(1.2);
}
.section-2-title2 {
  color: var(--white);
  text-shadow: 0px 4px 4px var(--primary-text-color);
  -webkit-text-stroke-width: 8;
  -webkit-text-stroke-color: #001c3e;
  font-family: 'Berlin Sans FB Demi';
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  padding-top: 80px;
  padding-bottom: 58px;
  text-align: center;
}
.section-roadmap-list {
  display: flex;
  gap: 30px;
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
  height: 400px;
}
.list-roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 530px;
  border-radius: 100px;
  background: rgba(255, 237, 0, 0.8);
  box-shadow: -10px 10px 4px 0px rgba(29, 29, 27, 0.8);
}

.list-roadmap p {
  color: #373737;
  font-family: 'Berlin Sans FB Demi';
  font-size: 20px;
  font-weight: 700;
  line-height: 171.429%;
  letter-spacing: 1.4px;
}
.list-roadmap h3 {
  color: var(--white);
  text-shadow: 0px 0px 10px rgba(19, 106, 128, 0.97),
    0px 0px 10px rgba(19, 106, 128, 0.97);
  font-family: 'Berlin Sans FB Demi';
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
  padding-bottom: 20px;
  font-style: normal;
}
.section-3 {
  height: 1629px;
  border: 0px solid #001834;
  background: var(--container-3-background);
  position: relative;
}

.section-3 h2 {
  color: var(--white);
  text-shadow: 0px 0px 10px #e94e1b, 0px 0px 10px #e94e1b;
  font-family: 'Berlin Sans FB Demi';
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 98px;
}
.container-partners {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  list-style: none;
}
.list-partners {
  width: calc(20% - 20px);
  margin-right: 20px;
  margin-bottom: 25px;
  box-sizing: border-box;
}
.list-partners:nth-child(5n) {
  margin-right: 0;
}
.icons-partners {
  width: 120px;
  height: auto;
}
.icons-partners1 {
  width: 80px;
  height: auto;
}
@keyframes moveDucky {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.ducky-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: moveDucky 5s linear infinite;
}

/* -----FOOTER------ */
.footer {
  height: 360px;
  background: var(--footer-background);
  display: flex;
  padding: 0 80px;
}
.footer h2 {
  color: var(--white);
  font-family: 'Bungee Shade';
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-right: 64px;
}
.footer h3 {
  color: var(--white);
  text-shadow: 0px 4px 4px var(--footer-icon-shadow-color);
  font-family: 'Berlin Sans FB Demi';
  font-size: 48px;

  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.list-about-us {
  color: var(--white);
  text-shadow: 0px 4px 4px var(--footer-icon-shadow-color);
  font-family: 'Berlin Sans FB Demi';
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  list-style: none;
  padding-top: 20px;
}
.icon-container-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 39px;
  margin-top: 40px;
  margin-left: 200px;
}
.icon-list-footer {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: var(--footer-icon-background);
  box-shadow: -6px 8px 4px 0px var(--footer-icon-shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
