*::before,
*::after {
  box-sizing: border-box;
}
/* :root {
    --primary-brand: #4d5ae5;
    --pressed-state: #404bbf;
    --dark: #2e2f42;
    --success: #31d0aa;
    --text: #434455;
    --subtle-text: #8e8f99;
    --accent: #e7e9fc;
    --light: #f4f4fd;
    --white-background: #ffffff;
    --modal-background: #fcfcfc;
  } */
.body {
  font-family: 'Reddit Mono';
  color: #1d1d1b;
  font-size: 16px;
  border: 0px solid #001834;
  background-color: aliceblue;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.menu-list {
  padding: 80px 30px 0px 40px;
  background-image: url('../images/bacground1.jpg');
  background-size: cover; /* Растягиваем изображение на весь экран */
  background-position: center; /* Выравниваем изображение по центру */
}
/*------------ HEADER --------------*/
.container-header {
  height: 2260px;
}
.container-list {
  display: flex;
  align-items: center;
}
.menu-link-logo {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-right: 124px;
}
.ducky-logo {
  width: 110px;
  height: 110px;
}
.menu-link {
  display: flex;
  gap: 30px;
}
.button {
  width: 223px;
  height: 65px;
  border-radius: 50px;
  background: #58777c;
  box-shadow: -6px 8px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #eaeaea;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Berlin Sans FB Demi';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-list {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background: #58777c;
  box-shadow: -6px 8px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #eaeaea;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Berlin Sans FB Demi';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h1 {
  color: #ce0505;
  font-family: 'Bungee Shade';
  font-size: 142px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.container-2-bc {
  width: 720px;
  height: 160px;
  background: #1b889c;
  box-shadow: -10px 10px 4px 0px #cd0505;
  text-align: center;
  margin: auto;
  margin-bottom: 118px;
}
.container-2-title {
  color: #eaeaea;
  font-family: 'Berlin Sans FB Demi';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 30px 54px;
}
.container-2-text {
  width: 882px;
  height: 800px;
  background: #ecc12a;
  box-shadow: -10px 10px 4px 0px #e56e3b;
  margin-left: auto;
  margin-right: 40px;
}
.text-2 {
  color: #1d1d1b;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Akaya Kanadaka';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.516%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin-left: 31px;
  margin-right: 51px;
}
@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.ducky-1 {
  animation: jumpAnimation 0.5s ease infinite;
  width: 544px;
  height: 677px;
  position: relative;
  bottom: auto;
  left: 0;
}

/* ---MAIN------ */
.section-1-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  max-width: 100%;
  height: 600px;
  padding: 20px;
}

.section-1 {
  height: 800px;
  opacity: 0.9;
  overflow-x: auto;
  background: linear-gradient(180deg, #090715 31.5%, #a7a79f 100%);
}

.section-1-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h3 {
  color: #393939;
  font-family: 'Berlin Sans FB Demi';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-prg {
  margin-top: 40px;
  width: 530px;
  height: 400px;
  background: #ffed00;
  box-shadow: -10px 10px 4px 0px rgba(29, 29, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
p {
  color: #373737;
  font-family: 'Berlin Sans FB Demi';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 171.429% */
  letter-spacing: 1.4px;
}

.container-3-bc {
  width: 500px;
  height: 120px;
  background: #ffed00;
  box-shadow: -10px 10px 4px 0px rgba(29, 29, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 1900px;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-position: center;
}
.section-2-title {
  color: #fff;
  text-shadow: 0px 4px 4px #1d1d1b;
  font-family: 'Berlin Sans FB Demi';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  text-align: center;
  text-shadow: 0px 0px 10px #00ff00, 0px 0px 10px #00ff00;
  padding-top: 80px;
  padding-bottom: 108px;
}
.section-2-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.section-2-prg {
  color: #fff;
  text-shadow: 0px 0px 10px #e94e1b, 0px 0px 10px #e94e1b;
  font-family: 'Berlin Sans FB Demi';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
  width: 200px;
}
.grafik {
  margin: 0 300px;
  transition: transform 0.5s ease;
}

.grafik:hover {
  transform: scale(1.2); /* Увеличиваем картинку в 1.2 раза при наведении */
}
.section-2-title2 {
  color: #fff;
  text-shadow: 0px 4px 4px #1d1d1b;
  -webkit-text-stroke-width: 8;
  -webkit-text-stroke-color: #001c3e;
  font-family: 'Berlin Sans FB Demi';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  padding-top: 80px;
  padding-bottom: 58px;
  text-align: center;
}
.section-roadmap-list {
  display: flex;
  gap: 30px;
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
  height: 400px;
}
.list-roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 530px;
  border-radius: 100px;
  background: rgba(255, 237, 0, 0.8);
  box-shadow: -10px 10px 4px 0px rgba(29, 29, 27, 0.8);
  flex-shrink: 0;
}

.list-roadmap p {
  color: #1d1d1b;
  font-family: 'Berlin Sans FB Demi';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}
.list-roadmap h3 {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(19, 106, 128, 0.97),
    0px 0px 10px rgba(19, 106, 128, 0.97);
  font-family: 'Berlin Sans FB Demi';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
  padding-bottom: 77px;
}
.section-3 {
  height: 1629px;
  border: 0px solid #001834;
  background: linear-gradient(
    188deg,
    rgba(2, 1, 7, 0.95) 29.55%,
    rgba(2, 29, 48, 0.95) 81.52%
  );
}

.section-3 h2 {
  color: #fff;
  text-shadow: 0px 0px 10px #e94e1b, 0px 0px 10px #e94e1b;
  font-family: 'Berlin Sans FB Demi';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  padding-top: 80px;
  text-align: center;
}

/* -----FOOTER------ */
.footer {
  height: 360px;
  background: linear-gradient(180deg, rgba(8, 32, 48, 0.97) 0%, #092f36 100%);
  display: flex;
}
.footer h2 {
  color: #fff;
  font-family: 'Bungee Shade';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 64px;
}
.footer h3 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Berlin Sans FB Demi';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer li {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Berlin Sans FB Demi';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style: none;
  padding-top: 20px;
}
